*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 }
 ::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 5px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #999999;
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }

p.firebase-emulator-warning{
  opacity: 0.5;
}

html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem
}

body, input, textarea, button{
  font: 400 1.6rem "Poppins", sans-serif;  
}

 button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

#root{
  overflow: hidden;
}

/* PC */
@media (min-width: 720px) {
  .statusbar{
    display: none;
    margin: 0;
  }
}
/* Tablet */
@media (min-width: 320px) and (max-width: 720px) {
  .statusbar{
    display: flex;
    margin: 1.4rem 0 0 0;
  }
}
/* Celular */
@media (max-width: 320px) {
  .statusbar{
    display: flex;
    margin: 1.4rem 0 0 0;
  }
}