.container{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: #0A4378;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;box-shadow: 0px 0px 15px -6px #000000;
}

.textAvatar{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #DDD;

    display: flex;
    align-items: center;
    justify-content: center;
}


.textAvatar p{
    text-align: center;
    font-size: large;
    font-weight: 600;
    line-height: 1;
}

.imageAvatar{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}